@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
}

:root {
    /* Background */
    --bg-primary: #14131a;
    --card-primary: #1c1b23;

    /* Button */
    --btn-highlight: #2bd576;
    --btn-primary: #3a3942;
    --btn-secondary: #1c1b23;
    --btn-white: #fff;

    /* Text */
    --text-primary: #abaab0;
    --text-secondary: #79787f;
    --text-dark: #000;
    --text-info: #4f4f52;
    --text-highlight: #fff;
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

body {
    color: var(--foreground-rgb);
    background: var(--bg-primary);
}

.progress-bar {
    width: 100%;
    height: 7px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}

.toggle-button:target + #toggle {
    display: flex;
}

.spinner {
    color: var(--text-highlight);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 3px;
    overflow: visible;
}
.spinner > circle {
    fill: none;
    stroke: currentColor;
    cx: 50%;
    cy: 50%;
    r: 50%;
    stroke-width: 3px;
    stroke-linecap: round;
    transform-origin: center;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Define the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: transparent; /* Background color of the track */
}

/* Define the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.4); /* Background color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Define the scrollbar thumb when hovered over */
::-webkit-scrollbar-thumb:hover {
    background: hsla(
        0,
        0%,
        0%,
        0.5
    ); /* Background color of the thumb when hovered */
}

.animation_iteration {
    animation-iteration-count: 5.5;
    animation-delay: 1s;
}
.animation_iteration_2 {
    animation-iteration-count: 4.5;
    animation-delay: 1.5s;
}

.yLineAnime {
    animation: upDown 1s ease-in-out infinite;
}
.yLineAnime_2 {
    animation: upDown_2 1s ease-in-out infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes upDown_2 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    background: #363535;
    border-radius: auto;
}
